/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/*
	file upload button
*/
/* line 7, ../../src/scss/useful-file.scss */
div.file {
  box-sizing: border-box;
  color: #fff;
  height: 3em;
  line-height: 3em;
  padding-left: 1em;
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ff6a00;
}
/* line 18, ../../src/scss/useful-file.scss */
div.file * {
  box-sizing: border-box;
}
/* line 21, ../../src/scss/useful-file.scss */
div.file input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
  opacity: 0.01;
  cursor: pointer;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  font-size: 80px;
  z-index: 1;
}
/* line 32, ../../src/scss/useful-file.scss */
div.file div.file-readout {
  display: inline;
}

/* line 36, ../../src/scss/useful-file.scss */
div.file:before {
  content: "Select file: ";
}
