
/*
	file upload button
*/
.file {
	box-sizing: border-box;
	color : #fff;
	height : 3em;
	line-height : 3em;
	padding-left : 1em;
	cursor : pointer;
	display : block;
	overflow : hidden;
	position : relative;
	background-color : $color-passive;
	* {
		box-sizing: border-box;
	}
	input {
		opacity: 0.01;
		cursor : pointer;
		height : 100%;
		position : absolute;
		bottom : 0;
		top : 0;
		right : 0;
		font-size : 80px;
		z-index : 1;
	}
	.file-readout {
		display : inline;
	}
}
.file:before {
	content : "Select file: ";
}
